.h-primary-center{
    font-size: 2rem;
}
.services-container{
    flex-wrap: wrap-reverse;
    flex-direction: column;
    padding: 4% 0%;
}
.services{
    width: 60%;
    justify-content: unset;
    font-size: 0.7rem;
    margin: 3% 1%;
}
.services:hover{
    transform: scale(1.2,1.2);
    opacity: 1.5;
}
.services>h2{
    font-size: 1rem;
}
.services img{
    height: 4rem;
}

.client-container img{
    height: 6rem;
    width: auto;
    margin: 1% 1%;
}

.buddy{
    margin-top: 10%
}
footer{
    font-size: 0.7rem;
}